@charset "utf-8";

@-webkit-keyframes logoBigAnimation{
	0%{
		transform: scale(1.0);
		-webkit-transform: scale(1.0);
	}
	100%{
		transform: scale(1.05);
		-webkit-transform: scale(1.05);
	}
}
@-webkit-keyframes logoSmallAnimation{
	0%{
		transform: scale(1.05);
		-webkit-transform: scale(1.05);
	}
	100%{
		transform: scale(1.0);
		-webkit-transform: scale(1.0);
	}
}